# idea
out
*.ipr
*.iws
*.iml

.idea/gradle.xml
.idea/tasks.xml
.idea/workspace.xml

.idea/codeStyles
.idea/inspectionProfiles
.idea/libraries

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# gradle
build
.gradle

# other
eclipse
run
