# idea
out
*.ipr
*.iws
*.iml

.idea/gradle.xml
.idea/jarRepositories.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/runConfigurations/runClient.xml
.idea/runConfigurations/runServer.xml

.idea/codeStyles
.idea/libraries

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# gradle
build
.gradle

# game
run/*
!run/*.ps1
!run/eula.txt
!run/mods
run/mods/*
!run/mods/CustomWindowTitle-*
!run/config
run/config/*
!run/config/customwindowtitle-client.toml
