# idea
out
*.ipr
*.iws
*.iml

.idea/*
!.idea/inspectionProfiles
!.idea/codeInsightSettings.xml
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/gradle.xml
!.idea/jsLibraryMappings.xml
!.idea/kotlinc.xml
!.idea/statistic.xml
!.idea/vcs.xml

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# gradle
build
.gradle

# game
run/*
!run/*.ps1
!run/eula.txt
!run/mods
run/mods/*
!run/mods/CustomWindowTitle-*
!run/config
run/config/*
!run/config/customwindowtitle-client.toml
